body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #000000;
	font-family: sans-serif;
}
.app__menuBar .app__menuItem:first-child {
	color: #F29900;
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	left: 20%;
	margin: 0;
	padding: 0;
	top: 5%;
}
.app__menuBar .app__menuItem:nth-child(2) {
	color: #F29900;
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	left: 35%;
	margin: 0;
	padding: 0;
	top: 5%;
}
.app__menuBar .app__menuItem:nth-child(3) {
	color: #F29900;
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	left: 50%;
	margin: 0;
	padding: 0;
	top: 5%;
}
.app__gameScreen {
	width: 90%;
	height: 60%;
	position: absolute;
}
.app__infoBox {
	width: 90%;
	height: 35%;
	position: absolute;
	margin: 0;
	padding: 0;
	border: 3px solid gray;
	border-radius: 5px;
	overflow: hidden;
	background: #000000;
	color: #F29900;
}
.app__infoItem {
	color: #F29900;
	font-weight: bold;
	font-size: normal;
	text-align: center;
	background: lightgray;
	border-radius: 5px;
}
.app__infoTitle {
	text-align: left;
	font-size: large;
	font-weight: bold;
	color: #F29900;
}
